:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
  padding: 30px;
  max-width: 1400px;
}

@media screen and (max-width: 900px) {
  .card-container{
    gap: 10px;
  }
}


.card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.card:hover{
  opacity: 0.85;
}

.card img{
  border-radius: 20px;
}

.card div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card div h2{
  font-size: 1.5rem;
  font-weight: 700;
}

.card div p{
  font-size: 1.5rem;
  font-weight: 400;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #000;
  max-width: 1400px;
  margin: 0 auto;
}

header img{
  width: 160px;
  margin-right: 10px;
}

header div{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 500px){
  header div{
    gap: 10px;
  }
  
  
}

header div button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 500px){
  header div button{
    font-size: 1.2rem;
  }
  header img{
    width: 120px;
  }
}

header div button:hover{
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #000;
  max-width: 1400px;
  margin: 0 auto ;
}

footer .social-media{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

footer .social-media img{
  width: 40px;
}

body::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}

a {
  color: inherit;
  text-decoration: none;
}

.gallery{
  position: relative;
  width: 100%;
  min-height: 120vh;
  padding: 12rem 0;
}
.gallery__item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 120px;
}
@media screen and (max-width: 500px) {
  .gallery__item{
    width: 50px;
    height: 80px;
  }
  
}
.gallery__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}